body {
  background-color: rgb(45, 38, 77);
}

.container {
  width: 100%;
  text-align: center;
}

#led-display {
  border: 3px solid black;
  margin-top: 20px;
}

#saved-emoji {
  margin: auto;
  text-align: center;
  color:#5fd3ff;
  max-width: 800px;
}

.minicanvas {
  margin: 10px 5px;
  display: inline-block
}

p {
  margin: 5px
}